<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>La-Zuberia Login </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9a7c44bca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>

    <div class="nav-bar">
      <h1 class="nav-heading">LA-Zuberia resort</h1>
      <div>
        <ul class="nav-bar-items">
          <a href="/" class="nav-bar-links">
            <li>Home</li>
          </a>
          <a href="/accomodation" class="nav-bar-links">
            <li>Accomodation</li>
          </a>
          <a href="/offers" class="nav-bar-links">
            <li>Offers</li>
          </a>
          <a href="marriage-packs" class="nav-bar-links">
            <li>Marraige packs</li>
          </a>
          <a href="/register" class="nav-bar-links">
            <li>Register</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="middle-box">
      <h2>LA-Zuberia Login</h2>
      <form class="form-box" action="/login" method="post">
        <input type="email" name="email" value="" placeholder="Enter your email adress ..." size="40px">
        <br><br>
        <input type="password" name="password" value="" placeholder="Enter your password ..." size="40px">
        <br><br>
        <input type="submit" name="submit" value="Login" class="btn">
        <br><br>
        <a href="/register" style="text-decoration:underline;">Dont have an account ? register</a>
      </form>
    </div>

    <div class="footer">
      <a href="/about-us" class="footer-links">About us</a>
      <a href="/facilities" class="footer-links">Facilities and services</a>
      <a href="/contact-us" class="footer-links">Contact-us</a>
      <a href="/carrers" class="footer-links">Careers</a>
      <a href="/reviews" class="footer-links">Reviews</a>
      <br>
      <i class="fab fa-facebook footer-tags"></i>
      <i class="fab fa-instagram footer-tags"></i>
      <i class="fab fa-twitter footer-tags"></i>
      <i class="far fa-envelope footer-tags"></i>
      <p style="color:grey;margin-top:10px;">© 2021 LA ZUBERIA all rights reserved.</p>
    </div>

  </body>
</html>
